<form (ngSubmit)="save()" >
  <div class="form-group">
    <label for="title">Title</label>
    <input ngModel name="title" id="title" class="form-control" type="text">
  </div>
  <div class="form-group">
      <label for="price">Price</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
        <input ngModel name="price" id="price" class="form-control" type="number">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select ngModel name="category" id="category" class="form-control" type="number">
      <option value=""></option>
       <option *ngFor="let c of categories$ | async" [value]='c.$key'>
         {{c.name}}
        </option> 
    </select>
  </div>
  <div class="form-group">
    <label for="imageUrl">Image URL</label>
    <input ngModel name="imageUrl" id="imageUrl" class="form-control" type="text">
  </div>
  <button class="btn btn-primary">Save</button>
</form>
